<!-- //Name: COMP2007 Enterprise Computing final project  - Summer 2016
//Author: Mo Zou &　Pui in Kwok & Yang Li
//Description: This assignment base on assginment 2, the MVC restaurant. Then add more security control and get motified website. 
-->



@{
    ViewBag.Title = "Index";
}

<h1 class="index_menu">@Html.ActionLink("Click Here To See The Menu :)", "Index", "Menu")</h1>

<div class="imageA">
    <img src="~/Assets/Images/restaurant.jpg" />
</div>
<div class="imageB">
    <img src="~/Assets/Images/restaurant2.JPEG" />
</div>